body {
  background-color: white;
}

nav {
  width: 100px;
}

.nav-main {
  width: 100%;
  height: 60px;
  background-color: #fff;
  z-index: 1000;
  display: flex;
  flex-wrap: wrap;
}

.btnToggleNav {
  width: 60px;
  height: 100%;
  background-image: url("menu.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
  cursor: pointer;
}

.nav-main ul {
  /* display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; */
  padding-left: 15px;
}

.nav-main ul li {
  list-style-type: none;

}
.nav-main ul li a{
  height: 100%;
  padding: 0;
  text-transform: uppercase;
  text-decoration: none;
  color: #111;
  font-family: arial;
  font-size: 16px;
}

.home {
  background-color: grey;
}

.white {
  background-color: white;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.purple {
  background-color: purple;
}

.green {
  background-color: green;
}
